.store {
  max-width: 350px;
  margin: 0 auto; }

.nav {
  margin-top: 20px; }

.reviews form * {
  margin-bottom: 10px; }
.reviews form .ng-invalid.ng-dirty {
  border-color: #FA787E; }
.reviews form .ng-valid.ng-dirty {
  border-color: #78FA89; }
