$red: #FA787E;
$green: #78FA89;

.store {
	max-width: 350px;
	margin: 0 auto;
}

.nav {
	margin-top: 20px;
}

.reviews {

	form {
		* {
			margin-bottom: 10px;
		}

		.ng-invalid.ng-dirty {
			border-color: $red;
		}

		.ng-valid.ng-dirty {
			border-color: $green;
		}
	}

}
