<!DOCTYPE html>
<html lang="en" ng-app="store">
<head>
	<meta charset="UTF-8">
	<title>My App</title>
	<link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css">
	<link rel="stylesheet" href="/css/style.css">
	<script src="/bower_components/jquery/dist/jquery.min.js"></script>
	<script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
	<script src="/js/main.js"></script>
	<script src="/app/products.js"></script>
</head>
<body>
	<div ng-controller="StoreController as store" class="store">
		<div ng-repeat="product in store.products">
			<div ng-hide="product.soldOut">
				<h1><product-title></product-title></h1>
				<button ng-show="product.canPurchase">Add to my cart</button>
			</div>
			<product-panels ng-controller="PanelController as panels">
			</product-panels>
		</div>
	</div>
</body>
</html>