<section>
	<ul class="nav nav-pills">
		<li ng-class="{ active: panel.isSelected(1) }"><a href ng-click="panel.selectTab(1)">Description</a></li>
		<li ng-class="{ active: panel.isSelected(2) }"><a href ng-click="panel.selectTab(2)">Specifications</a></li>
		<li ng-class="{ active: panel.isSelected(3) }"><a href ng-click="panel.selectTab(3)">Reviews</a></li>
	</ul>
	<div class="panel" ng-show="panel.isSelected(1)">
		<h4>Description</h4>
		<p>{{product.desc}}</p>
	</div>
	<div class="panel" ng-show="panel.isSelected(2)">
		<h4>Specifications</h4>
		<p>None yet</p>
	</div>
	<div class="panel reviews" ng-show="panel.isSelected(3)">
		<h4>Reviews</h4>
		<blockquote ng-repeat="review in product.reviews">
			<b>{{ review.stars }} Stars</b>
			{{ review.body }}
			<cite>by: {{ review.author }}</cite>
		</blockquote>

		<form name="reviewForm" ng-controller="ReviewController as reviewCtrl" ng-submit="reviewForm.$valid && reviewCtrl.addReview(product)" novalidate>
			<blockquote>
				<b>{{ reviewCtrl.review.stars }} Stars</b>
				{{ reviewCtrl.review.body }}
				<cite>by: {{ reviewCtrl.review.author }}</cite>
			</blockquote>
			<select class="form-control" ng-model="reviewCtrl.review.stars" required>
				<option value="1">1 Star</option>
				<option value="2">2 Stars</option>
			</select>
			<textarea class="form-control" ng-model="reviewCtrl.review.body" required></textarea>
			<label>by:</label>
			<input class="form-control" type="email" ng-model="reviewCtrl.review.author" required></input>
			<div>reviewForm is {{ reviewForm.$valid }}</div>
			<input class="form-control" type="submit" value="Submit"></input>
		</form>
	</div>
</section>